.aboutMeCon2 {
  img {
    width: 100%;
    height: 94vh;
    object-fit: cover;
    animation: cat 2s;
    transition: 5s linear;
    z-index: -1;
  }

  @keyframes cat {
    0% {
      // transform: translateY(-100%);
      height: 0;
    }
    100% {
      // transform: translateY(0);
      height: 94vh;
    }
  }
}
