.mainWrapper {
  margin: 0;
  position: relative;
  top: 6vh;
  background-color: #e4dbe3;

  .mainItem {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2% 32.5% 32.5% 33%;
    grid-template-rows: 32.65vh 32.65vh 8.1vh 65.3vh 65.3vh 65.3vh;

    div {
      display: flex;
    }
    .item1 {
      grid-row: 1 / 7;
      border-right: 1px solid #292929;
    }
    .item2 {
      grid-row: 1 / 3;
      grid-column: 2 / 4;
      height: 65.3vh;
      overflow: hidden;

      iframe {
        transform: scale(1.1);
        pointer-events: none;
      }
    }
    .item3 {
      grid-row: 1 / 2;
      height: 32.65vh;
      border-left: 1px solid #292929;
      place-items: end;
      p {
        cursor: pointer;
        font-size: 2.5em;
        display: block;
        font-family: "NeueHaasDisplayLight", sans-serif;
        font-weight: bold;
        color: #292929;
        margin: 30px;
      }
    }
    .item4 {
      height: 32.65vh;
      border-left: 1px solid #292929;
      border-top: 1px solid #292929;
      place-items: end;
      p {
        cursor: pointer;
        font-size: 2.5em;
        display: block;
        font-family: "NeueHaasDisplayLight", sans-serif;
        font-weight: bold;
        color: #292929;
        margin: 30px;
      }
    }
    .item5 {
      grid-column: 2 / 5;
      border-top: 1px solid #292929;
      border-bottom: 1px solid #292929;
      .flowText {
        overflow: hidden;
        position: relative;
        width: 100%;
        max-width: 100%;
        height: auto;
        overflow-x: hidden;
        overflow-y: hidden;
        color: #292929;
        .flowWrap {
          font-size: 2.5em;
          font-family: "NeueHaasDisplayLight", sans-serif;
          text-transform: uppercase;
          white-space: nowrap;
          will-change: transform;
        color: #292929;


          display: flex;
          align-items: center;
          span {
            font-family: "Clearface", sans-serif;
            font-style: italic;
          }
          img {
            width: 35px;
            height: 35px;
            margin: 0 30px 0 10px;
          }
        }
      }
    }
  }

  .fw1 {
    -webkit-animation: marquee1 60s linear infinite;
    animation: marquee1 30s linear infinite;
  }
  .fw2 {
    -webkit-animation: marquee2 60s linear infinite;
    animation: marquee2 30s linear infinite;
  }
  .item6 {
    grid-column: 2 / 3;
    border-right: 1px solid #292929;
  }
  .item7 {
    cursor: pointer;
    grid-column: 3 / 4;
    overflow: hidden;
    background-color: #d7c5ee;
    img {
      object-fit: cover;
      width: 100%;

      &:hover {
        transform: perspective(600px) rotateY(-20deg);
        transition: 1s ease-out;
      }
      &:not(:hover) {
        transition: 1s ease-out;
      }
    }
  }
  .item8 {
    grid-column: 4 / 5;
    grid-row: 4 / 6;
    border-left: 1px solid #292929;
  }
  .item9 {
    border-top: 1px solid #292929;
    border-right: 1px solid #292929;
  }
  .item10 {
    border-top: 1px solid #292929;
  }
  .item11 {
    border-top: 1px solid #292929;
    border-right: 1px solid #292929;
    overflow: hidden;
    background-color: #d7c5ee;
    img {
      object-fit: cover;
      width: 100%;


      &:hover {
        transform: perspective(600px) rotateY(-20deg);
        transition: 1s ease-out;
      }
      &:not(:hover) {
        transition: 1s ease-out;
      }
    }
  }
  .item12 {
    border-top: 1px solid #292929;
  }
  .item13 {
    border-top: 1px solid #292929;
    border-left: 1px solid #292929;
    overflow: hidden;
    background-color: #d7c5ee;
    img {
      object-fit: cover;
      width: 100%;


      &:hover {
        transform: perspective(600px) rotateY(-20deg);
        transition: 1s ease-out;
      }
      &:not(:hover) {
        transition: 1s ease-out;
      }
    }
  }
}

.stickyBox {
  background-color: #d7c5ee;
  height: 6vh;
  position: sticky;
  bottom: 0;
  border-top: 1px solid #292929;
  border-bottom: 1px solid #292929;
  z-index: 999;
}

@keyframes marquee1 {
  0% {
    // transform: translateX(100%);
    // -webkit-transform: translateX(100%);
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}
@keyframes marquee2 {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}

@-webkit-keyframes marquee1 {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@-webkit-keyframes marquee2 {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
