.container {
  background-color: #e4dbe3;
  margin-top: 6vh;
  font-family: "Clearface", sans-serif;
  display: grid;
  grid-template-columns: 2% 32% 33% 33%;
  grid-template-rows: 88vh;
  .box1 {
    border-right: 1px solid #292929;
  }
  .box2 {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        cursor: pointer;
        height: 18.25vh;
        border-top: 1px solid #292929;
        margin: 0;
        display: flex;
        align-items: center;
        font-size: 4em;
        color: #292929;
        text-transform: uppercase;
        padding-left: 2vw;
        &:nth-child(3) {
          font-size: 3em;
        }
      }
    }
    .skills {
      display: flex;
      align-items: center;
      h1 {
        margin: 0 0 0 2vw;
        font-size: 5em;
        color: white;
        text-transform: capitalize;
        font-weight: normal;
      }
      height: 15vh;
      width: 100%;
      background-color: #292929;
    }
    border-right: 1px solid #292929;
  }
  .box3 {

  width: 100%;
  height: 100%;
  background-color: #D7C5EE;

  transition: .5s;
  
  }
  .transition {
    animation: fadein 1s ease-in-out;
  }
  .box4 {
    border-left: 1px solid #292929;
    display: flex;
    place-items: center;
    justify-content: center;
    transition: .5s;
    overflow: hidden;

    h2 {
      font-family: "NeueHaasDisplayLightItalic", sans-serif;
      font-size: 4em;

      animation: header 2s ease-in-out ;
    }
    img {
      width: 100%;
      height: 70%;
      object-fit: cover;
      animation: swing 3s ease-in-out infinite ;
      transition: 1s;
    }
  }

}

@keyframes header {
  0%{
    opacity: 0;
    transform: perspective(600px) rotateY(-20deg);
  }
  100%{opacity: 1;
  transform: perspective(600px) rotateY(0deg);
}
}
@keyframes fadein {
  0%{
    opacity: 0;
  }
  100%{opacity: 1;}
}

@keyframes swing {
  0% {
    transform: perspective(600px) rotateY(-20deg);
  }

50% {
  transform: perspective(600px) rotateY(0);
}
  100% {
    transform: perspective(600px) rotateY(-20deg);
  }
}

.stickyBox {
  border-bottom: none;
}
